export(colouriseBlack)
export(colouriseBlue)
export(colouriseGreen)
export(colouriseYellow)
export(colouriseRed)
export(colourizeBlack)
export(colourizeBlue)
export(colourizeGreen)
export(colourizeYellow)
export(colourizeRed)